header{
    background-color: yellowgreen;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
}
nav{
    margin: 0;
    padding: 0;
    width: auto;
    text-align: left;
}
nav a{
    margin-right: 10px;
    color: red;
    text-decoration: none;
}
.fruktur-regular { 
    font-family: 'Fruktur', serif;
}
h1{
    color: red;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 20px 0;
}
section img {
    max-width: 100%;
    height: auto;
}
h2{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
body{
    background-color: moccasin;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    display: flex;
    flex: 1;
    padding: 20px;
}
.content{
    flex: 2;
    margin-right: 20px;
}
#contact{
    flex: 1;
    align-self: flex-start;
}
form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    box-sizing: border-box;
}
form textarea{
    resize: none;
    height: 180px;
}
section h3{
    margin: 16px;
}
form button{
    background-color: deeppink;
    color: #fff;
    border: none;
    cursor: pointer;
}
form button:hover{
    background-color: red;
}
input:focus textarea:focus{
    outline: rgb(0,0,92)
}
.social-links{
    margin-bottom: 14px;
}
.store-front {
  margin-right: 32px;
}
.social-links img{
height: 24px;
}
.social-links li{
display: flex;
gap: 16px;
}
.social-links li a{
text-decoration: none;
}
#contact .container{
display: block;
}
.contact-methods{
display: flex;
justify-content: space-between;
}
footer{
    background-color: yellowgreen;
    color: #fff;
    display: flex;
    justify-content: center;
}
